body
{
    color: #d5c5ae;
    height: 100%;
    overflow: hidden;
}

#whole
{
    height: 100%;
    position: absolute;
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}

.wordBox
{
    padding-right: 3pt;
    padding-bottom: .5%;
}

.wordBox.selected
{
    background-color: rgba(111, 93, 68, 0.8);
    border: 2px solid black;
}

#storyFrame
{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-width: 75%;
    max-height: 80%;
    border: 2px groove #4a442b;
    padding: .5%;
    margin: .5%;
}

#controls
{
    margin-top: 2%;
    max-height: 6%;
}

input[type=button] /* W3schools */
{
    background-color: #d5c5ae;
    border: none;
    color: #241d0b;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

input[type=text]
{
    background-color: #d5c5ae;
    border: 1px #241d0b solid;
    border-radius: 5px;
    width: 30%;
}

#credit
{
    font-size: 50%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-height: 2%;
}

/* adopted of: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    color: #4a442b;
}
  